/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'); */

.concerts div {
    margin-bottom: 40px;
}

.concerts div p {
    margin: 5px;
}

.concerts div p:first-of-type {
    margin-bottom: 8px;
    font-size: 1.2rem;
}